extends layout

block content
  br
  br

  p.text-center(style='color:maroon;font-size:30px;font-weight:bold;') Our VRAJDHAM
  p.text-center(style='color:maroon;font-size:20px;') Vrajdham means
  .container(style='background-color:#ffff80;height:950px;')
    p.text-center(style='color:orange;font-size:20px;font-weight:bold;') Shriji Darshan & Utsav Celebrations & Spiritual Discourses
    p.text-center(style='color:maroon;font-size:15px;') Having Shriji Darshan six times a day,Melodious Kirtan Singing, NathDwara Sewa-Pranali, Utsav Celebration...
    p.text-center(style='color:maroon;font-size:15px;') Uttrayan, Holi-Dolotsav, ShriRamnavami, ShriMahaPrabhuji Pragtyotsav, Shriji Patotsav, ShriNrusinh Jayanti,
    p.text-center(style='color:maroon;font-size:15px;') Snan-Yatra, Rath-Yatra, hindola, Pavitra Ekadashi-Dwadashi, Raksha-Bandhan, ShriKrushna Janmashtami
    p.text-center(style='color:maroon;font-size:15px;') NandMahotsav,ShriVaman Jayanti, Sanzi Days, NavRatri-NavVilas,Dashera,SharadPoonam, Diwali,Hatadi Manorath-KanJagai, Annakut,Tulsi-Vivah.ShriGokulNathji Mahotsav,
    p.text-center(style='color:maroon;font-size:15px;') ShriGusainji Pragtyotsav-Jalebi Utsav, Adhik-Maas-Utsav.....Spiritual discourses by Pushti-Gurus, Scholars
    p.text-center(style='color:orange;font-size:20px;font-weight:bold;') Religious & Cultural Education
    p.text-center(style='color:maroon;font-size:15px;') Having Hinduism & PushtiBhaktiMarg education for Children-Youth-Adults, Learning to sing Pushti Kirtans of
    p.text-center(style='color:maroon;font-size:15px;') AshtaSakha, Learning Indian classical dance, music, singing, Learning Gujarati language,
    p.text-center(style='color:maroon;font-size:15px;') Fun competition like Kite-making, Rangoli-Making, Painting, Singing, Dancing, etc.for Children-Youth-Adults...
    p.text-center(style='color:orange;font-size:20px;font-weight:bold;') Community Oriented Activites
    p.text-center(style='color:maroon;font-size:15px;') Regular free health check-up camps, Medical Awareness Seminars,
    p.text-center(style='color:maroon;font-size:15px;') Hosting Vaishnav Family's "Pushti" ShriThakorji for limited duration during their troubled times like "Sutak"
    p.text-center(style='color:maroon;font-size:15px;') Senior Services, Library with books and magazines on PushtiBhaktiMarg, Hinduism and Gujarati literature,
    p.text-center(style='color:maroon;font-size:15px;') Reading rooms for students, Children Latch-Key Program, Raas-Garba, Diwali Party etc.
    p.text-center(style='color:orange;font-size:20px;font-weight:bold;') Vrajdham Youth Group
    p.text-center(style='color:maroon;font-size:15px;') Organizing Youth Programs, Youth Seminars, Bringing Vaishnav-Hindu Youth together to entice them to preserve
    p.text-center(style='color:maroon;font-size:15px;') and propagate Indian Religious and Cultural Heritage, Motivating Youth to volunteer for Vrajdham temple
    p.text-center(style='color:maroon;font-size:15px;') and Community Center, Inspiring them to offer neighbourhood Volunteering service...
    p.text-center(style='color:orange;font-size:20px;font-weight:bold;') Vrajdham Senior Center
    p.text-center(style='color:maroon;font-size:15px;') Providing facilty for organizing social activites for seniors, Indoor Game Room for seniors,
    p.text-center(style='color:maroon;font-size:15px;') Senior Seminars, Senior Birthday/Anniversary celebrations, Senior Yatra, Senior picnic, volunteering for
    p.text-center(style='color:maroon;font-size:15px;') Vrajdham Temple and Community Center, July 4th--August 15th--January 26th celebrations etc...
